.benefit__wrapper{
    display: inline-block;
    background-color: #F2F5F4;
    border-radius: 50%;
    height:rem(128px);
    width: rem(128px);
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: rem(24px);
}

.benefit__icon{
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title{
    margin-bottom: rem(7px);
}