* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: $baseFontSize;
  font-family: "Play", sans-serif;
  position: relative;
  color: #666;
}

.wrapper {
  min-width: $containerWidth + rem(20px);
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.footer {
  position: relative;
  width: 100%;
}

.img {
  display: block;
  max-width: 100%;
}

.btn {
  max-width: rem(163px);
  max-height: rem(54px);
  padding: rem(21px) rem(41px);
  text-align: center;
  font-family: 'Play';
  font-size: rem(16px);
  font-style: normal;
  font-weight: 700;
  line-height: rem(18px);
  border-radius: rem(100px);
  text-transform: uppercase;
  cursor: pointer;
  border: transparent;

  &--theme--red {
    background-color: $red;
    color: white;

    &:hover{
      background-color: rgb(255, 0, 34);
    }
  }

}
